{{>headdashboard}}

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar-->
    {{#if administrador}}
    {{>sidebardashboard}}
    {{/if}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        {{>topbar}}
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
          </div>

          <!-- Area Chart -->
          {{#if registro}}
          <h2 class="text-center" id="title">{{{show}}}</h2>
          {{/if}}
          {{#if administrador}}
            {{>adminproductcreateform}}
          {{/if}}
          <div class="row">
            <!-- Content Column -->
            <div class="col-lg-6 mb-4"> </div>
            <div class="col-lg-6 mb-4"> </div>
          </div>
          <!-- end Content Row -->
        </div>
        <!-- end container-fluid -->
      </div>
      <!-- End of Main Content -->
      {{>footerdashboard}}
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Footer -->
</body>
</html>