{{>headdashboard}}

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar-->
    {{>sidebardashboard}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        {{>topbar}}
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          {{#if registro}}
          <h2 class="text-center" id="title">{{{show}}}</h2>
          {{/if}}
          <div class="card-body">
            <div class="limiter">
              <div class="container-table100">
                <div class="wrap-table100">
                  <div class="row">
                  {{#if bodeguero}}
                    <form action="/addStore" method="get">
                      <div class="form-row">
                        <div class="col "><input type="text" name="nombre" placeholder="agregar a la tienda"></div>
                        <div class="col "><button type="submit" class="btn btn-primary"> agregar </button></div>
                      </div>
                    </form>
                  {{/if}}
                  {{#if administrador}}
                    <form action="/dashboardproduct" method="post">
                      <div class="form-row">
                        <div class="col "><input type="text" name="nombre" placeholder="editar producto"></div>
                        <div class="col "><button type="submit" class="btn btn-primary"> editar </button></div>
                      </div>
                    </form>
                  {{/if}}
                  </div>
                  <br></br>
                  {{>productstable}}
                </div>
              </div>
            </div>
          </div>
          <!-- end Content Row -->
        </div>
        <!-- end container-fluid -->
      </div>
      <!-- End of Main Content -->
      {{>footerdashboard}}
    </div>
    <!-- End of Content Wrapper -->
   

  </div>
  <!-- End of Page Wrapper -->
  <!-- Footer -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

  <script>  

  $(function(){       
            $(".fa-pencil").on('click', function(){
              var id = $(this).data("id")
              $.ajax({
                  method: "GET",
                  url: `/dashboardeditararticulo?editar=${id}`
                })
                .done(function() {
                    window.location = `/dashboardeditararticulo?editar=${id}`
                })
              });    
            $(".fa-trash").on('click', function(){ 
              var id = $(this).data("id")  
              $.ajax({
                  method: "GET",
                  url: `/deleteproduct?id=${id}`
                  })
                  .done(function(e) {
                      $(`#${id}`).remove()
                      toastr.success(`productos: ${e.nombre} borrado correctamente`);  
                  })
              });                    
  });

 

</script>
</body>
</html>