{{>headdashboard}}
<body id="page-top">
  <div id="wrapper">
    {{>sidebardashboard}}
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        {{>topbar}}
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <div class="limiter">
                <div class="container-table100">
                  <div class="wrap-table100">
                    <div class="row">
                    </div>
                    <br></br>
                    {{>storetableupdate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{>footerdashboard}}
    </div>
  </div>

</body>

</html>