{{>headdashboard}}

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar-->
    {{>sidebardashboard}}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        {{>topbar}}
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          {{#if registro}}
          <h2 class="text-center" id="title">{{{show}}}</h2>
          {{/if}}
          <div class="card-body">
            <div class="limiter">
              <div class="container-table100">
                <div class="wrap-table100">
                  <div class="row">
                  {{#if bodeguero}}
                    <form action="/addStore" method="get">
                      <div class="form-row">
                        <div class="col "><input type="text" name="nombre" placeholder="agregar a la tienda"></div>
                        <div class="col "><button type="submit" class="btn btn-primary"> buscar </button></div>
                      </div>
                    </form>
                  {{/if}}
                  </div>
                  <br></br>
                  {{>productstable}}
                </div>
              </div>
            </div>
          </div>
          <!-- end Content Row -->
        </div>
        <!-- end container-fluid -->
      </div>
      <!-- End of Main Content -->
      {{>footerdashboard}}
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Footer -->
</body>
</html>