{
    "extends": "airbnb-base",
    "rules": {
        "no-console": ["error", { "allow": ["warn", "error", "log"] }],
        "no-underscore-dangle":  ["error", { "allow": ["_id"] }],
        "indent": [2, "tab"],
        "no-tabs": 0,
        "eslint linebreak-style": 0
    },
    "env": {
        "jasmine": true
    }
}