<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-body">
					<form action="/addstore" method="POST">
						<div class="form-body">
							<h5 class="card-title">Agregar cabtidad de productos</h5>
							<hr>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Nombre</label>
										<input type="text" id="name" name="name" class="form-control" value="{{name}}"
											placeholder="ingrese el nombre del producto"> </div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Precio</label>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="ti-money"></i></span>
											</div>
											<input type="text" class="form-control" name="price" placeholder="precio" aria-label="precio"
												value="{{price}}" aria-describedby="basic-addon1">
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Cantidad</label>
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text" id="basic-addon1"><i class="ti-money"></i></span>
											</div>
											<input type="text" class="form-control" name="cantidad" placeholder="cantidad" aria-label="cantidad"
												aria-describedby="basic-addon1">
										</div>
									</div>
								</div>
							</div>
							<hr>
						</div>
						<div class="form-group form-actions m-t-40">
							<input type="hidden" value="{{_id}}" name="id">
							<button type="submit" class="btn btn-primary btn-block"> Agregar a tienda </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>