<form action="/createproduct" method="post">
	<div class="form-row">
		<div class="col form-group">
			<label>Nombre</label>
		  	<input type="text"  class="form-control" name="name">
		</div>
		<div class="col form-group">
			<label>Tipo</label>
		  	<input type="text" class="form-control" name="type">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>Foto</label>
		  <input type="text" class="form-control" name="photo">
		</div>
		<div class="form-group col-md-6">
		  <label>Descripción</label>
		  <input type="text" class="form-control" name="description">
		</div>
	</div>
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>Cantidad</label>
		  <input type="text" class="form-control" name="count">
		</div>
		<div class="form-group col-md-6">
		  <label>Precio</label>
		  <input type="text" class="form-control" name="price">
		</div>
	</div>
  <div class="form-row">
		<div class="form-group col-md-6">
		  <label>Localización</label>
		  <input type="text" class="form-control" name="location">
		</div>
	</div>
  <input type="hidden" name="registro" value="registro">
    <div class="form-group">
        <br>
        <button type="submit" class="btn btn-primary btn-block"> Crear </button>
    </div> <!-- form-group// -->
    <i><small class="text-muted">Recuerda <br> "Un Gran poder conlleva una Gran responsabilidad" <br> Tio Ben.</small> </i>
</form>
