<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-9 col-lg-9">
            <div class="card">
                <div class="card-header bg-info">
                    <h5 class="m-b-0 text-white">Tu Carrito</h5>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="table" class="table product-overview">
                            <thead>
                                <tr>
                                    <th>Imágen</th>
                                    <th>Información del Producto</th>
                                    <th>Sede</th>
                                    <th>Precio</th>
                                    <th>Cantidad</th>
                                    <th style="text-align:center">Total</th>
                                    <th style="text-align:center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#if productos}} {{{listarProductosCart productos cant}}} {{else}} "No tienes productos
                                en eu carrito, ve y compra!" {{/if}}
                            </tbody>
                        </table>
                        <hr>
                        <div class="d-flex no-block align-items-center">
                            <button class="btn btn-dark btn-outline"
                                onclick="window.location.href='/dashboardproducts'"><i class="fas fa-arrow-left"></i>
                                Continua Comprando</button>
                        </div>
                    </div>
                </div>
                <div id="notifications"></div>
            </div>
        </div>
        <!-- Column -->
        <div class="col-md-3 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Resumen de Compras</h5>
                    <hr>
                    <small>Precio Total</small>
                    <h2 id="totalBruto">${{{sum productos}}}</h2>
                    <input type="number" id="totalCompra" value="{{{sum productos}}}" hidden>
                    <hr>
                    <h5>Paga con: </h5>
                    <button id='Efectivo-button' class="btn btn-primary" type='button' data-toggle="modal"
                        data-target="modal-TotalCost">Efectivo</button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tarjeta
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a id="credito" class="dropdown-item" href="#">Crédito</a>
                            <a id="debito" class="dropdown-item" href="#">Débito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Información de Soporte</h5>
                    <hr>
                    <h4><i class="ti-mobile"></i>Tel: 3255566</h4> <small>Por favor contactanos si tienen preguntas.
                        Estamos
                        disponibles 24h.</small>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var totalNeto = 0;
    var total = function (id) {
        var precio = document.getElementById("precio-" + id);
        var input = document.getElementById("input-" + id);
        var tt = document.getElementById("total-" + id);

        tt.innerText = parseInt(precio.innerText.substr(1)) * parseInt(input.value);
        var items = document.getElementsByClassName("totalItem");
        totalNeto = 0
        for (var i = 0; i < items.length; i++) {
            totalNeto += parseInt(items[i].innerText);
        }
        var totalBruto = document.getElementById("totalBruto");
        totalBruto.innerText = totalNeto;
    }

    function devuelta() {
        const totalBruto = document.getElementById("totalBruto");
        const efectivo = document.getElementById("efectivo");
        const cambio = document.getElementById("cambio");
        const total = parseInt(efectivo.value.replace("$", "")) - parseInt(totalBruto.innerText.replace("$", ""));
        cambio.innerText = total;
    }
    function cliente() {
        const cedula_cliente = document.getElementById("cedula_cliente");
        const totalBruto = document.getElementById("totalBruto").value;
        var puntos = parseInt(totalNeto / 2000)
        $.ajax({
            method: "GET",
            url: `/findUser?cedula=${cedula_cliente.value}`
        })
            .done(function (e) {
                $("#puntos").append(`<div class="form-group">
                        <label for="recipient-name" class="col-form-label">Se abonaran <strong>${puntos}</strong> super esiPuntos a:</label>
                        <input type="text" onchange="cliente();"  placeholder=${e.firstname} class="form-control" readonly="readonly">
                    </div>`)
                $("#button-pagar").click(function () {
                    $.ajax({
                        method: "GET",
                        url: `/findUser?cedula=${cedula_cliente.value}&updatePoints=${puntos}`
                    })
                        .done(function (res) {
                            console.log(res.esiPuntos)
                            $("#modal-TotalCost").modal('hide');
                            $("#notifications").append(`  <div class="alert alert-success">
                                                   <a href="/dashboardprofile"><strong>Esito!</strong> has acumulado ${puntos} puntos</a> 
                                                  </div>
                                               `)
                        })

                    var productos = [];
                    $('#table tr').each(function (row, tr) {
                        const nombre = $(tr).find('td:eq(1)>h5').text();
                        const sede = $(tr).find('td:eq(2)').text();
                        const cantidad = $(tr).find('.input').val();
                        productos.push({ nombre, sede, cantidad });
                    });
                    productos.shift();
                    $.ajax({
                        method: "GET",
                        data: { 'productos': JSON.stringify(productos) },
                        url: `/pay`,
                    }).done(function (e) {
                        toastr.success(`Pago realizado`);
                        window.location = `/dashboardproducts`;
                    })
                });
            })
    }
</script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>

<div class="modal fade" id="modal-TotalCost" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Efectivo Recibido:</label>
                        <input type="text" onchange="devuelta()" class="form-control" id="efectivo">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Cambio a entregar:</label>
                        <textarea class="form-control" id="cambio"></textarea>
                    </div>
                </form>
                <form id="puntos">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tienes esiPuntos?:</label>
                        <input type="text" onchange="cliente()" placeholder="Cedula titular esipuntos"
                            class="form-control" id="cedula_cliente">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id="button-pagar" class="btn btn-primary">Pagar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Efectivo-button").click(function () {
            $("#modal-TotalCost").modal('show');
        });
    });
    $(document).ready(function () {
        $("#credito").click(function () {
            var productos = [];
            $('#table tr').each(function (row, tr) {
                const nombre = $(tr).find('td:eq(1)>h5').text();
                const sede = $(tr).find('td:eq(2)').text();
                const cantidad = $(tr).find('.input').val();
                productos.push({ nombre, sede, cantidad });
            });
            productos.shift();
            $.ajax({
                method: "GET",
                data: { 'productos': JSON.stringify(productos) },
                url: `/pay`,
            }).done(function (e) {
                toastr.success(`Pago realizado`);
                window.location = `/dashboardproducts`;
            })
        });
    });
    $(document).ready(function () {
        $("#debito").click(function () {
            var productos = [];
            $('#table tr').each(function (row, tr) {
                const nombre = $(tr).find('td:eq(1)>h5').text();
                const sede = $(tr).find('td:eq(2)').text();
                const cantidad = $(tr).find('.input').val();
                productos.push({ nombre, sede, cantidad });
            });
            productos.shift();
            $.ajax({
                method: "GET",
                data: { 'productos': JSON.stringify(productos) },
                url: `/pay`,
            }).done(function (e) {
                toastr.success(`Pago realizado`);
                window.location = `/dashboardproducts`;
            })
        });
    });
</script> {{!-- cierra modal --}}